<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.vexels.me/media/users/3/201991/isolated/preview/a4ddb9413c755af86fdb3eaeb8d5f84f-dog-footprint-bone-flat.png">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link rel="stylesheet" href="static/Datos.css">
    <title>Datos del Estudiante</title>
</head>
<body>
    <h1>DATOS DEL ESTUDIANTE</h1>
    <div class="Datos">
        <h2>Nombre: Daniel Estuardo Salvatierra Macajola</h2>
        <h2>Carnet: 202202768</h2>
        <ul  class="menu-bar">
            <li>
                <a href="/">Regresar al inicio</a>
            </li>
        </ul>
    </div>
</body>
</html>