<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.vexels.me/media/users/3/201991/isolated/preview/a4ddb9413c755af86fdb3eaeb8d5f84f-dog-footprint-bone-flat.png">
    <link rel="stylesheet" href="static/Home.css">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    
    <div class="container">
        <header>
            <h1 class="logo">Bienvenido a MisMascotitas</h1>
        </header>
        <div class="centered-container">
            <ul  class="menu-bar">
                <li>
                    <a href="/borrar_datos_backend">Borrar Datos</a>
                </li>
                <li>
                    <a href="/cargarxml"> Cargar XML</a>
                </li>
                <li>
                    <a href="/mostrar_archivo">Procesar Datos</a>
                </li>
                <li>
                    <a href="/datosestudiante">Datos del Estudiante</a>
                </li>
            </ul>
        </div> 
    </div>
</body>
</html>